---
import { Image } from "astro:assets";
 
const { author, content, image, slug, error, userimage} = Astro.props

---

<div>
	<p class="font-mono text-yellow-100 text-4xl pb-5">La Citation d'aujourdhui est:</p>
</div>
<div class="bg-orange-200 m-4 p-6 text-2xl font-mono rounded-e-full">
	<div class="text-cyan-900 rounded-xl flex w-auto h-auto">
		<Image class="quote-image"
		 src={error ? userimage : image}
		 alt={slug}
		 width=200
		 height=150
		/>
		<p class="text-center flex items-center ml-3 quote-content">
			{content}
		</p>
	</div>
	<div class="text-green-700 text-xl flex flex-row justify-center justify-items-center">
		<p class="text-center mt-4 quote-author">
			{author}
		</p>
	</div>
</div>